#reserveModal {
    .modal-header {
        background-image: $color-teal;
        color: white;
    }
}

#loginModal {
    .modal-header {
        background-image: $color-mid;
        color: white;
    }
}